<template>
  <nav>
    <h1>SSR Header</h1>
    <ul class="nav-menu">
      <li v-for="link in paths" :key="link.label">
        <nuxt-link :to="link.name" class="link">
          <div class="link-item">
            {{ link.label }}
          </div>
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'AppNavigation',
  data () {
    return {
      paths: [
        { label: 'Home', name: '/' },
        { label: 'Customer', name: '/customer' },
        { label: 'Diagrams', name: '/diagrams' },
        { label: 'Month', name: '/diagrams/month' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  nav {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #e6e6e6;
  }
  .nav-menu {
    list-style: none;
    display: flex;
    margin-left: 40px;
  }
  .link {
    text-decoration: none;
  }
  .nuxt-link-exact-active {
    color: red;
    font-weight: 600;
  }
  .link-item {
    padding: 5px 20px;
  }
</style>
