<template>
  <el-card
    class="statistic-item item"
    :body-style="{ padding: 0 }"
    :header="title"
    shadow="hover"
    @click="openStatisticItem"
  >
    <template #header>
      <div class="item__header">
        <h3>{{ title }}</h3>
        <small>
          <i class="el-icon-time" />
          {{ new Date().toLocaleString() }}
        </small>
      </div>
    </template>
    <template #default>
      <div class="item__wrapper">
        <div class="item__body">
          <div>{{ label }}</div>
          <div>{{ value }}</div>
        </div>
        <div class="item__footer">
          footer
        </div>
      </div>
    </template>
  </el-card>
</template>

<script>
export default {
  data () {
    return {
      title: 'Some title',
      label: 'some position',
      value: 'some value'
    }
  },

  methods: {
    openStatisticItem () {
      this.title = 'was opened'
    }
  }
}
</script>

<style lang="scss" scoped>
.statistic-item {
  background-color: #e6e6e6;
  margin-top: 1rem;
  cursor: pointer;
  border: 1px solid #868686;
}
.item {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__wrapper {
    padding: 0 2rem 2rem;
  }
  &__body {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
  }
  &__footer {
    display: flex;
  }
}
</style>
