<template>
  <el-container>
    <el-header>
      <app-navigation />
    </el-header>
    <el-main>
      <nuxt />
    </el-main>
    <el-footer />
  </el-container>
</template>

<script lang="ts">
import AppNavigation from '@/components/main/AppNavigation.vue'

export default {
  components: {
    AppNavigation
  }
}
</script>
