<template>
  <el-row v-loading="isLoading">
    <dialog-create-type />
    <el-col :xs="24" :sm="18" :md="12" :lg="10">
      <form-register-unit />
    </el-col>
  </el-row>
</template>

<script lang="ts">
import Vue from 'vue'
import DialogCreateType from '~/components/dialogs/DialogCreateType.vue'
import FormRegisterUnit from '~/components/forms/FormRegisterUnit.vue'

export default Vue.extend({
  name: 'IndexPage',
  components: { DialogCreateType, FormRegisterUnit },
  head: {
    title: 'Статистика'
  },
  computed: {
    units () {
      return this.$store.state.units
    },
    isLoading () {
      return this.$store.state.isLoading
    }
  },

  created () {
    this.$store.dispatch('loadUnits')
    this.$store.dispatch('loadTypes')
  }
})
</script>
