<template>
  <div class="dialog-wrapper">
    <el-button type="text" @click="showDialog">
      <span>Создать новый тип</span>
      <i class="el-icon-plus" />
    </el-button>
    <el-dialog title="Создание" :visible.sync="dialogVisible">
      <form-type />
    </el-dialog>
  </div>
</template>

<script>
import formType from '../forms/FormType.vue'
export default {
  name: 'DialogCreateTypes',
  components: { formType },
  data () {
    return {
      dialogVisible: false
    }
  },
  methods: {
    showDialog () {
      this.dialogVisible = true
    }
  }
}
</script>

<style scoped>
.dialog-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

</style>
