<template>
  <div class="form-wrapper">
    <h2 class="form-title">
      Добавление расходов:
    </h2>
    <el-form class="form">
      <el-form-item label="Дата">
        <el-input
          v-model="model.date"
          type="date"
        />
      </el-form-item>
      <el-form-item label="Тип">
        <el-select v-model="model.typeId">
          <el-option
            v-for="type in types"
            :key="type.id"
            :value="type.id"
            :label="type.name"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Стоимость">
        <el-input v-model="model.amount" type="number" />
      </el-form-item>

      <el-button type="primary" :disabled="!isValid" @click="onSubmit">
        Добавить
      </el-button>
    </el-form>
  </div>
</template>

<script>
import dayjs from 'dayjs'
export default {
  name: 'FormRegisterUnit',
  data () {
    return {
      model: {
        date: dayjs().format('YYYY-MM-DD'),
        typeId: 1,
        amount: null
      }
    }
  },
  computed: {
    types () {
      return this.$store.state.types
    },

    isValid () {
      return this.model.date && this.model.typeId > 0 && this.model.amount > 0
    }
  },
  methods: {
    onSubmit () {
      this.$store.dispatch('createUnit', this.model)
      this.model.amount = null
    }
  }
}

</script>

<style scoped>
.form-wrapper {
  /* display: flex;
  flex-direction: column; */
}
.form-title {}
.form {
  margin-top: 10px;
}

.full-width {
  display: flex;

}
</style>
