<template>
  <el-form>
    <el-form-item class="form-item" label="Новое имя позиции">
      <div class="form-item__body">
        <div>
          <el-select
            v-model="typeName"
            clearable
            filterable
            allow-create
          >
            <el-option
              v-for="type in unitTypes"
              :key="type.id"
              :value="type.name"
              :label="type.name"
            />
          </el-select>
          <el-button
            v-loading="isLoading"
            type="primary"
            :disabled="!typeName || !isValidTypeName"
            @click="onSubmit"
          >
            <i class="el-icon-plus" />
          </el-button>
        </div>

        <div v-show="!isValidTypeName" class="error-message">
          Значение должно быть уникальным
        </div>
      </div>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'FormType',
  data () {
    return {
      typeName: ''
    }
  },
  computed: {
    unitTypes () {
      return this.$store.state.types
    },

    isValidTypeName () {
      return this.isLoading || !this.unitTypes.map(type => type.name).includes(this.typeName)
    },

    isLoading () {
      return this.$store.state.isLoading
    }
  },

  created () {
    this.$store.dispatch('loadTypes')
  },

  methods: {
    async createType () {
      await this.$store.dispatch('createType', this.typeName)
      this.typeName = ''
    },

    onSubmit () {
      this.createType()
    }
  }
}
</script>

<style scoped>
.form-item {
    margin-bottom: 0;
}
.form-item__body {
    display: flex;
    flex-direction: column;
}
.error-message {
        font-size: x-small;
    color: red;
    line-height: initial;
}
</style>
